allure-pytest
allure-python-commons
attrs
cachetools
certifi
charset-normalizer
exceptiongroup
execnet
google-auth
greenlet
idna
iniconfig
kubernetes
oauthlib
packaging
playwright
pluggy
pyasn1
pyasn1-modules
pyee
pyperclip
pytest
pytest-base-url
pytest-json-report
pytest-metadata
pytest-playwright
pytest-xdist
python-dateutil
python-slugify
pytz
PyYAML
requests
requests-oauthlib
rsa
six
text-unidecode
tomli
typing_extensions
urllib3
websocket-client

bs4